public/SCENARIO_2_SWEEPER.blueprint.json
{
    "name": "SCENARIO_2_SWEEPER_FIXED",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7792843
            },
            "mapper": {
                "from": "share",
                "filter": [
                    [
                        {
                            "a": "F",
                            "b": "Status Pending",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "17URsqPPpmsn8_SUBpKvXr62HPEmrE71rXu69H8d9Y3s",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {},
            "mapper": {
                "url": "https://api.bland.ai/v1/calls",
                "method": "POST",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "org_9ac61541c9dd3a1d904c1c0c61b38f1f6bb42e3b985ddc9c6d4441f83d7bcb61aada867745fdceac50a569"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "bodyType": "raw",
                "contentType": "application/json",
                "body": "{\"phone_number\": \"{{1.2}}\", \"task\": \"You are Brandi, an AI scheduling assistant for AGNC. A visitor named {{1.1}} started filling out the intake form on agnc.team but didn't finish. You're calling to see if they'd like to complete their brief over the phone or schedule a proper call. Be warm, professional, and concise.\", \"voice\": \"maya\", \"reduce_latency\": true}",
                "followAllRedirects": false,
                "followRedirect": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7792843
            },
            "mapper": {
                "from": "share",
                "mode": "select",
                "values": {
                    "5": "Swept"
                },
                "sheetId": "Sheet1",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/17URsqPPpmsn8_SUBpKvXr62HPEmrE71rXu69H8d9Y3s",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "zone": "us2.make.com"
    }
}