public/SCENARIO_1_ROUTER.blueprint.json
{
    "name": "SCENARIO_1_ROUTER_FIXED",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1994088,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "agnc26-hook1"
                        }
                    }
                },
                "interface": [
                    {
                        "name": "event",
                        "type": "text"
                    },
                    {
                        "name": "name",
                        "type": "text"
                    },
                    {
                        "name": "phone",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "timestamp",
                        "type": "text"
                    },
                    {
                        "name": "context",
                        "type": "text"
                    },
                    {
                        "name": "state",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {},
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7792843
                            },
                            "mapper": {
                                "from": "share",
                                "mode": "select",
                                "values": {
                                    "0": "{{executionId}}",
                                    "1": "{{1.name}}",
                                    "2": "{{1.phone}}",
                                    "3": "{{1.email}}",
                                    "4": "{{1.timestamp}}",
                                    "5": "Status Pending"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/17URsqPPpmsn8_SUBpKvXr62HPEmrE71rXu69H8d9Y3s",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -200
                                }
                            },
                            "filter": {
                                "name": "Path A: Step 1 (New Lead)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.name}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{1.event}}",
                                            "o": "text:equal",
                                            "b": "step1_started"
                                        }
                                    ]
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7792843
                            },
                            "mapper": {
                                "from": "share",
                                "filter": [
                                    [
                                        {
                                            "a": "C",
                                            "b": "{{trim(1.phone)}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "Sheet1",
                                "sortOrder": "desc",
                                "spreadsheetId": "17URsqPPpmsn8_SUBpKvXr62HPEmrE71rXu69H8d9Y3s",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 200
                                }
                            },
                            "filter": {
                                "name": "Path B: Step 2 (Brief Completed)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.context}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{1.event}}",
                                            "o": "text:equal",
                                            "b": "step2_completed"
                                        }
                                    ]
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7792843
                            },
                            "mapper": {
                                "from": "share",
                                "mode": "select",
                                "values": {
                                    "5": "Secured"
                                },
                                "sheetId": "Sheet1",
                                "rowNumber": "{{4.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/17URsqPPpmsn8_SUBpKvXr62HPEmrE71rXu69H8d9Y3s",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7793373
                            },
                            "mapper": {
                                "text": ":white_check_mark: *New Mission Secured*\n\n*Name:* {{1.name}}\n*Phone:* {{1.phone}}\n*Email:* {{1.email}}\n*Brief Context:* {{1.context}}\n*Current State:* {{1.state}}",
                                "parse": false,
                                "idType": "user",
                                "mrkdwn": true,
                                "channel": "agw@anthonygracey.com",
                                "channelType": "im",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 200
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "zone": "us2.make.com"
    }
}